<div
  class="player-hud"
  [id]="gameObjectId"
>
  <div class="player-hud__avatar">
    <img
      [src]="avatarImgUrl"
      [alt]="username"
      class="player-hud__avatar__img"
      (load)="reportLoadedObject(avatarLoadId)"
    >
    <div class="player-hud__avatar__energy">
      <div
        class="player-hud__avatar__energy__bar"
        [style]="'height: '+ energyPercentage +'%;'"
      ></div>
      <div class="player-hud__avatar__energy__amount">{{ energy }}</div>
    </div>
  </div>
  <div class="player-hud__tokens">
    <div class="player-hud__tokens__column">
      <div class="player-hud__tokens__column__info">{{ currentFood + '/' + baseFood }}</div>
      <div
        *ngFor="let token of foodTokensToDisplay; let i = index"
        @fadeInOut
        class="player-hud__tokens__column__token"
        [class.grey]="i > currentFood || currentFood === 0"
      >
        <img
          src="assets/img/icons/food-token-icon.svg"
          alt="Food token"
        >
      </div>
    </div>
  </div>
</div>