<div class="fade-carousel{{ ' ' + className || '' }}">
  <div
    *ngIf="itemsLength > 1"
    (click)="prevItem()"
    class="fade-carousel-arrow fade-carousel-arrow--left"
  >
    <img src="assets/img/icons/arrow-left-green-bold.svg" alt="Previous">
  </div>
  <div
    #itemsContainer
    class="fade-carousel-items"
  >
    <ng-content></ng-content>
  </div>
  <div
    *ngIf="itemsLength > 1"
    (click)="nextItem()"
    class="fade-carousel-arrow fade-carousel-arrow--right"
  >
    <img src="assets/img/icons/arrow-right-green-bold.svg" alt="Next">
  </div>
</div>