<div
  class="game-cards-in-play"
  [class.compact]="cards.length > 7"
  [class.opponent]="opponent"
>
  <app-card
    *ngFor="let card of cards"
    [card]="card"
    [sleeveImgUrl]="sleeveImgUrl"
    [class.attacking]="card.attacking"
    [class.defending]="card.defending || (playerPredeclaredDefender && playerPredeclaredDefender.gameObjectId === card.gameObjectId)"
    [class.dizzy]="card.dizzy"
    [class.tired]="card.tired"
    [class.clickable]="getIsClickableByPlayer(card)"
    size="big"
    (click)="getIsClickableByPlayer(card) ? clickAction(card) : null"
  ></app-card>
</div>
