<main class="auth-page slide-section">
  <div class="auth-page__content">
    <div class="auth-page__content__main">

      <h1 class="medium-title">
        Clumsy Compan<span class="logo-above-i"><span>i</span><img src="assets/img/icons/paw-green.svg" alt="Paw"></span>ons
      </h1>
      <p *ngIf="curAuthType !== allAuthTypes.ResetPassword">
        Welcome to the world of cozy and fluffy creatures! <br/> Sign in or create an account to play!
      </p>
      <p *ngIf="curAuthType === allAuthTypes.ResetPassword">
        Forgot your password? Give us your email so you can get a link to reset your password.
      </p>
      <form 
        [formGroup]="authForm"
        (ngSubmit)="onSubmit()"
        class="auth-form labeled-inputs-con"
      >
  
        <app-labeled-input
          *ngIf="curAuthType === allAuthTypes.SignUp"
          [@fadeInOut]
          label="Username"
          validationMessage="Please provide a valid username."
          formControlName="username"
          [control]="authForm.controls.username"
        ></app-labeled-input>
  
        <app-labeled-input
          label="Email"
          validationMessage="Please provide a valid email."
          formControlName="email"
          [control]="authForm.controls.email"
        ></app-labeled-input>
  
        <app-labeled-input
          *ngIf="curAuthType !== allAuthTypes.ResetPassword"
          label="Password"
          validationMessage="Your password should be at least 6 characters long."
          formControlName="password"
          [control]="authForm.controls.password"
          type="password"
        ></app-labeled-input>
  
        <button 
          type="submit"
          class="page-button"
        > 
          <span *ngIf="curAuthType === allAuthTypes.LogIn">Log In</span>
          <span *ngIf="curAuthType === allAuthTypes.SignUp">Sign Up</span>
          <span *ngIf="curAuthType === allAuthTypes.ResetPassword">Reset Password</span>
        </button>
  
      </form>

    </div>
    <div class="auth-page__content__options">
      <a 
        *ngIf="curAuthType !== allAuthTypes.LogIn" 
        [@fadeInOut]
        routerLink="/auth/log-in" 
      >
        Log In
      </a>
      <a 
        *ngIf="curAuthType !== allAuthTypes.SignUp"
        [@fadeInOut]
        routerLink="/auth/sign-up" 
      >
        Sign Up
      </a>
      <a 
        *ngIf="curAuthType !== allAuthTypes.ResetPassword"
        [@fadeInOut]
        routerLink="/auth/reset-password" 
      >
        Forgot your password?
      </a>
    </div>
  </div>
  <div class="auth-page__img-con">
    <img 
      *ngIf="curAuthType === allAuthTypes.LogIn"
      [@fadeInOut]
      src="assets/img/photos/log-in-screen.png"
      alt="Log In"
      class="auth-page__img">
    <img 
      *ngIf="curAuthType === allAuthTypes.SignUp"
      [@fadeInOut]
      src="assets/img/photos/sign-up-screen.png"
      alt="Sign up"
      class="auth-page__img">
    <img 
      *ngIf="curAuthType === allAuthTypes.ResetPassword"
      [@fadeInOut]
      src="assets/img/photos/reset-password-screen.png"
      alt="Reset password"
      class="auth-page__img">
  </div>
</main>