@import "utility/mixins/mixins-other";

html{
  font-size: 62.5%;
}

body{
  font-size: 1.8rem;
  line-height: 170%;
  font-family: $fontMain, cursive;
  font-weight: 300;
  color: $coffee;
}

a{
  cursor: pointer;

  &, &:hover{
    color: $coffee;
  }

  &, &:hover{
    text-decoration: none;
  }
}

::selection{
  background-color: $main;
  color: $white;
}

p, ul, ol {
  font-size: 1.8rem;
  line-height: 170%;
  margin-bottom: 1em;
}

h1, h2, h3, h4, h5, h6{
  font-weight: normal;
  margin-bottom: 1em;
  font-weight: 300;
}

.big-title{
  font-size: 7.2rem;
  line-height: 8.4rem;
}

.medium-title{
  font-size: 4.8rem;
  line-height: 5.6rem;

  & .logo-above-i{
    & img{
      @include square(1.4rem);
      top: .3rem;
    }
  }
}

.huge-text{
  font-size: 3.6rem;
}

.big-text{
  font-size: 3.2rem;
}

.medium-text{
  font-size: 2.4rem;
}

//handle size from parent 
.logo-above-i{
  position: relative;
  display: inline;

  & img{
    @include abs-center-x;
    @include square(1.7rem);
    top: .7rem;
  }
}