<div 
  class="card-front size-{{ size }}"
  [ngClass]="{
    'show-name': permShowName
  }"
>

  <img 
    [src]="card.imgUrl" 
    [alt]="card.name" 
    class="card-front__img"
    (load)="reportLoad ? reportLoadedObject(cardLoadId) : null"
  >

  <div class="card-front__info-con">

    <!-- COMPANION CARD START -->
    <div class="card-front__info" *ngIf="card.type === allCardTypes.Companion">
      <div class="card-front__info__left">
        <div class="card-front__strength">
          <div class="card-front__strength__bg"></div>
          <span>{{ card.strength }}</span>
        </div>
      </div>
      <div class="card-front__info__right">
        <div class="card-front__cost">
          {{ card.cost }}
        </div>
  
        <app-card-effect
          *ngFor="let cardEffect of card.effects"
          [effect]="cardEffect"
          [showEffects]="showEffects"
        ></app-card-effect>
  
        <div class="card-front__energy">
          {{ card.energy }}
        </div>
      </div>
    </div>
    <!-- COMPANION CARD END -->

    <!-- CHARM AND TRICK CARD START -->
    <div class="card-front__info" *ngIf="card.type === allCardTypes.Charm || card.type === allCardTypes.Trick">
      <div class="card-front__info__left"></div>
      <div class="card-front__info__right to-top">
        <div class="card-front__cost">
          {{ card.cost }}
        </div>

        <app-card-effect
          [effect]="card.effects[0]"
          [cardType]="card.type"
        ></app-card-effect>
      </div>
    </div>
    <!-- CHARM AND TRICK CARD END -->

    <!-- FOOD CARD START -->
    <div class="card-front__info" *ngIf="card.type === allCardTypes.Food">
      <div class="card-front__info__left"></div>
      <div class="card-front__info__right to-top">
        <app-card-effect
          [effect]="card.effects[0]"
          [cardType]="card.type"
        ></app-card-effect>
      </div>
    </div>
    <!-- FOOD CARD END -->
  
    <div class="card-front__name">
      {{ card.name }}
    </div>
  </div>

</div>
