.admin-form{
  @include d-flex;
  border-radius: 1.5rem;
  height: 72rem;
  overflow: hidden;
  background-color: $white;

  &__display{
    @include rect(54rem, 100%);
    background-color: $black;
    border-radius: 1.5rem;
    overflow: hidden;
    color: $white;
    position: relative;
    z-index: 100;

    &--wide{
      @include d-flex($dir: column);
      width: 73rem;
      padding: 3rem;
    }

    &__upload{
      @include abs(0, 0);
      @include square(100%);
      z-index: 0;
    }

    &__card{
      width: 100% !important;
      height: 100% !important;
      position: relative;
      z-index: 1;
      pointer-events: none;

      & .card-front__info{
        &__left, &__right{
          pointer-events: all;
        }
      }
    }

    &__select{
      @include d-flex($dir: column, $ai: flex-start);
      margin-bottom: 3rem;

      &__title{
        margin-bottom: 1.6rem;
      }

      &__list{
        @include d-flex();
        @include m-not-last(1.8rem, r);
        padding: .8rem .6rem 3rem;
        @include scrollbar($color: $main, $bg: $white-dimmed, $w: .6rem, $rounded: false);
        max-width: 100%;
        overflow: auto;

        &::-webkit-scrollbar{
          height: .6rem;
        }

        & .admin-form__display__select__list__item{
          @include transition;
          padding: 1rem;
          cursor: pointer;
          border: 1px solid transparent;

          &.selected{
            border-color: $main;
          }

          &--round{
            @include circle(20rem);
          }

          & .avatar{
            @include square(19rem);
          }

          & .deck {
            @include rect(16rem, 24rem);
            color: $black;
          }
        }
      }
    }
  }

  &__main{
    @include d-flex($dir: column, $ai: flex-start);
    width: 44rem;
    height: 100%;
    padding: 1.8rem;

    &__controls{
      width: 100%;
      height: 100%;
      overflow: hidden;
      margin-bottom: 1.2rem;
      @include scrollbar($color: $main, $bg: $grey-300, $w: .6rem, $rounded: true);

      &.overflowing{
        padding-right: .8rem;
        overflow: auto;
      }
    }

    &__validation{
      margin-top: auto;
      margin-bottom: 1.2rem;
      background-color: $red;
      color: $white;
      border-radius: .3rem;
      padding: .3rem;
      width: 100%;

      & + .admin-form__main__actions {
        margin-top: 0;
      }
      
      &__inner{
        max-height: 14rem;
        padding: .4rem 1rem;
        overflow-y: auto;
        overflow-x: visible;
        @include scrollbar($color: $white, $bg: $red, $w: .6rem, $rounded: true);
      }
    }

    &__actions{
      @include flex-row-3(1.2rem);
      width: 100%;
      justify-content: flex-end;
      margin-bottom: -1.2rem;
      margin-top: auto;
    }
  }
}

.admin-form-control{
  @include d-flex($ai: flex-start);
  margin-bottom: 3rem;

  &__label{
    width: 14rem;
    padding-right: .4rem;
  }

  &__input{
    @include d-flex();
    position: relative;
    width: calc(100% - 14rem);

    & app-select-control, app-simple-control{
      width: 100%;
    }

    & app-toggle-control{
      margin-left: auto;
    }

    &__msg{
      @include abs(0, calc(100% + .2rem));
      color: $error;
      opacity: 0;
      visibility: hidden;
      @include transition;

      &.open{
        opacity: 1;
        visibility: visible;
      }
    }
  }
}