.admin-form{
  @include d-flex;
  border-radius: 1.5rem;
  overflow: hidden;
  background-color: $white;

  &__display{
    @include rect(54rem, 72rem);
    background-color: $black;
    border-radius: 1.5rem;
    overflow: hidden;
    color: $white;
    position: relative;

    &__upload{
      @include abs(0, 0);
      @include square(100%);
      z-index: 0;
    }

    &__card{
      width: 100% !important;
      height: 100% !important;
      position: relative;
      z-index: 1;
      pointer-events: none;

      & .card-front__info{
        &__left, &__right{
          pointer-events: all;
        }
      }
    }
  }

  &__main{
    @include d-flex($dir: column, $ai: flex-start);
    width: 44rem;
    padding: 3rem 2rem;

    &__controls{
      width: 100%;
    }

    &__actions{
      width: 100%;
      margin-top: auto;
      @include flex-row-3(1.2rem);
      justify-content: flex-end;
    }
  }
}

.admin-form-control{
  @include d-flex($ai: flex-start);
  margin-bottom: 3rem;

  &__label{
    width: 14rem;
    padding-right: .4rem;
  }

  &__input{
    @include d-flex();
    position: relative;
    width: calc(100% - 14rem);

    & app-select-control, app-simple-control{
      width: 100%;
    }

    & app-toggle-control{
      margin-left: auto;
    }

    &__msg{
      @include abs(0, calc(100% + .2rem));
      color: $error;
      opacity: 0;
      visibility: hidden;
      @include transition;

      &.open{
        opacity: 1;
        visibility: visible;
      }
    }
  }
}
