.admin-form{
  @include d-flex;
  border-radius: 1.5rem;
  overflow: hidden;
  background-color: $white;

  &__display{
    @include rect(54rem, 72rem);
    background-color: $black;
    border-radius: 1.5rem;
    color: $white;

    &__upload{
      @include square(100%);
      padding: 1.5rem;
    }
  }

  &__main{
    @include d-flex($dir: column, $ai: flex-start);
    width: 44rem;
    padding: 3rem 2rem;

    &__controls{
      width: 100%;
    }

    &__actions{
      width: 100%;
      margin-top: auto;
      @include flex-row-3(1.2rem);
    }
  }
}