$name-size-md: 3.4rem;
$info-size-md: 5rem;
$info-font-size-md: 2.2rem;
$effect-name-size-md: 2.2rem;
$effect-desc-size-md: 1.6rem;

$name-size-big: 5rem;
$info-size-big: 10rem;
$info-font-size-big: 3.4rem;
$effect-name-size-big: 2.6rem;
$effect-desc-size-big: 2.2rem;

.card-front{
  position: relative;
  overflow: hidden;
  border-radius: .3rem;

  &__img{
    @include abs(0, 0);
    @include square(100%);
    z-index: 0;
    @include img-cover;
  }

  &__info-con{
    @include d-flex($dir: column);
    @include rect(100%, calc(100% + #{$name-size-md}));
    position: relative;
    z-index: 1;
  }

  &__info{
    @include d-flex($jc: space-between);
    height: calc(100% - #{$name-size-md});
    padding: 1.2rem;
    @include transition;

    &__left, &__right{
      @include d-flex($dir: column, $jc: flex-end);

      &.to-top{
        justify-content: flex-start;

        & .card-front{
          &__cost{
            margin-bottom: 1.2rem;
          }
        }
      }
    }
  }

  &__name{
    @include d-flex($center: true);
    @include rect(100%, #{$name-size-md});
    text-align: center;
    background-color: $white;
  }

  &__cost, &__effect, &__energy{
    @include circle($info-size-md);
  }

  &__cost, &__effect{
    background-color: $white;
    color: $black;
  }

  &__cost, &__strength, &__energy{
    font-size: $info-font-size-md;
  }

  &__energy, &__strength{
    color: $white;
  }

  &__cost{
    margin-bottom: auto;
  }

  &__energy{
    background-color: $blue;
  }

  &__strength{
    @include d-flex($center: true);
    @include square($info-size-md);
    position: relative;

    & span{
      position: relative;
      z-index: 1;
    }

    &__bg{
      @include abs(0, 0);
      @include square(100%);

      &::before{
        @include default-after;
        @include square(0);
        border: calc(#{$info-size-md} / 2) solid transparent;
        border-bottom-color: $red;
        top: calc(-#{$info-size-md} / 2);
      }

      &::after{
        @include default-after;
        @include square(0);
        left: 0;
        top: calc(#{$info-size-md} / 2);
        border: calc(#{$info-size-md} / 2) solid transparent;
        border-top-color: $red;
      }
    }
  }

  &__effect{
    margin-bottom: 1.2rem;

    &__img{
      @include square(calc(#{$info-size-md} * 0.68));
    }

    &__inner{
      @include d-flex($center: true);
      @include square(100%);
      cursor: pointer;
    }

    &__modal{
      @include abs(0, 0);
      @include square(100%);
      z-index: 10;
      @include d-flex($dir: column, $center: true);
      background-color: $white-dimmed-transparent-stronger;
      color: $black;
      
      & .card-front__effect{
        margin-bottom: calc(#{$info-size-md} * 0.5);
      }

      &__name{
        font-weight: bold;
        font-size: $effect-name-size-md;
        margin-bottom: calc(#{$effect-name-size-md} * 0.6);
      }

      &__desc{
        font-size: $effect-desc-size-md;
      }

      &__close{
        @include square(calc(#{$info-size-md} / 2));
        @include abs($r: $name-size-md, $t: $name-size-md);
        cursor: pointer;
      }
    }
  }

  &:hover, &.show-name{
    & .card-front{
      &__info{
        height: calc(100% - 2 *#{$name-size-md});
      }
    }
  }

  &.size{
    &-small{

    }

    &-medium{
      @include rect(32rem, 48rem);
    }

    &-big{
      @include rect(50rem, 75rem);

      & .card-front{
        &__info-con{
          @include rect(100%, calc(100% + #{$name-size-big}));
        }

        &__info{
          height: calc(100% - #{$name-size-big});
        }

        &__name{
          @include rect(100%, #{$name-size-big});
        }

        &__cost, &__effect, &__energy{
          @include square($info-size-big);
        }

        &__cost, &__strength, &__energy{
          font-size: $info-font-size-big;
        }

        &__effect{
          &__img{
            @include square(calc(#{$info-size-big} * 0.68));
          }

          &__modal{
            & .card-front__effect{
              margin-bottom: calc(#{$info-size-big} * 0.5);
            }

            &__name{
              font-size: $effect-name-size-big;
            }
      
            &__desc{
              font-size: $effect-desc-size-big;
            }

            &__close{
              @include square(calc(#{$info-size-big} / 2));
              @include abs($r: $name-size-big, $t: $name-size-big);
            }
          }
        }

        &__strength{
          @include square($info-size-big);
      
          &__bg{
            &::before{
              border-width: calc(#{$info-size-big} / 2);
              top: calc(-#{$info-size-big} / 2);
            }
      
            &::after{
              top: calc(#{$info-size-big} / 2);
              border-width: calc(#{$info-size-big} / 2);
            }
          }
        }
      
        &:hover, &.show-name{
          & .card-front{
            &__info{
              height: calc(100% - 2 *#{$name-size-big});
            }
          }
        }
      }
    }
  }
}

.card-property-input{
  text-align: center;
  width: 100%;
  position: relative;
  z-index: 1;
  color: inherit;
  font-size: inherit;

  /* Chrome, Safari, Edge, Opera */
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  &[type=number] {
    -moz-appearance: textfield;
  }
}
