<div class="admin-edit-page">
  <div class="admin-form">
    <div class="admin-form__display">

      <div class="admin-form__display__img-upload">
        <app-file-upload
          displayText="Upload the card's image!"
          path="images/cards"
          formControlName="imgUrl"
          [control]="form.controls.imgUrl"
          [imgUrl]="form.controls.imgUrl.value"
        ></app-file-upload>
        <div class="card-front">
          <img src="" alt="" class="card-front__img">
        </div>
        <div class="admin-form__display__img-overlay">
          <div class="small-title"></div>
          <button type="button" class="admin-button set green">
            Upload
          </button>
        </div>
      </div>

    </div>
    <div class="admin-form__main">

    </div>
  </div>
</div>
