<div class="admin-edit-page">
  <form 
    [formGroup]="form"
    (ngSubmit)="onSubmit()"
    class="admin-form"
  >
    <div class="admin-form__display">

      <div class="admin-form__display__upload">
        <app-file-upload
          displayText="Upload the card's image!"
          path="images/cards"
          formControlName="imgUrl"
          [control]="form.controls.imgUrl"
          [imgUrl]="form.controls.imgUrl.value"
        ></app-file-upload>
      </div>

      <div class="admin-form__display__card card-front size-big">

        <div class="card-front__info-con">

          <div class="card-front__info">
            <div class="card-front__info__left">
              <div class="card-front__strength">
                <div class="card-front__strength__bg"></div>
                <input
                  type="number"
                  max="99"
                  min="0"
                  class="card-property-input"
                  placeholder="-"
                  [formControl]="form.controls.strength"
                />
              </div>
            </div>
            <div class="card-front__info__right">
              <div class="card-front__cost">
                <input
                  type="number"
                  max="99"
                  min="1"
                  class="card-property-input"
                  placeholder="-"
                  [formControl]="form.controls.cost"
                />
              </div>
        
              <app-admin-card-effect-wrapper
                *ngFor="let effectFormGroup of cardEffectGroups"
              >
                <app-card-effect
                  [effect]="effectFormGroup.effect"
                ></app-card-effect>
              </app-admin-card-effect-wrapper>
        
              <div class="card-front__energy">
                <input
                  type="number"
                  max="99"
                  min="1"
                  class="card-property-input"
                  placeholder="-"
                  [formControl]="form.controls.energy"
                />
              </div>
            </div>
          </div>
        
          <div class="card-front__name">
            {{ form.controls.name.value }}
          </div>
        </div>

      </div>

    </div>
    <div class="admin-form__main">

      <div class="admin-form__main__controls">

        <app-admin-control-wrapper
          label="Card's name"
          validationMessage="Please provide the card's name."
          [control]="form.controls.name"
        >
          <app-simple-control
            type="text"
            formControlName="name"
            [control]="form.controls.name"
          ></app-simple-control>
        </app-admin-control-wrapper>

        <app-admin-control-wrapper
          label="Description"
          validationMessage="Please provide the card's description."
          [control]="form.controls.description"
        >
          <app-simple-control
            type="textarea"
            formControlName="description"
            [control]="form.controls.description"
          ></app-simple-control>
        </app-admin-control-wrapper>

        <app-admin-control-wrapper
          label="Card type"
          validationMessage="Please choose a type."
          [control]="form.controls.type"
        >
          <app-select-control
            formControlName="type"
            [control]="form.controls.type"
            [options]="cardTypeOptions"
          ></app-select-control>
        </app-admin-control-wrapper>

        <app-admin-control-wrapper
          label="Set"
          validationMessage="Please choose a set."
          [control]="form.controls.setId"
        >
          <app-select-control
            formControlName="setId"
            [control]="form.controls.setId"
            [options]="setOptions"
          ></app-select-control>
        </app-admin-control-wrapper>

        <app-admin-control-wrapper
          label="Show final look"
          [control]="form.controls.setId"
        >
          <app-toggle-control
            formControlName="showFinalLook"
            [control]="form.controls.showFinalLook"
          ></app-toggle-control>
        </app-admin-control-wrapper>

      </div>

      <div class="admin-form__main__actions">
        <button type="button" class="admin-button black" (click)="onOpenCancelPopup()">
          Cancel
        </button>
        <button *ngIf="this.editMode" type="button" class="admin-button red" (click)="onOpenDeletePopup()">
          Delete
        </button>
        <button type="submit" class="admin-button green">
          Save
        </button>
      </div>
    </div>
  </form>
</div>
