<div class="admin-edit-page">
  <form 
    [formGroup]="form"
    (ngSubmit)="onSubmit()"
    class="admin-form"
  >
    <div class="admin-form__display">

      <div class="admin-form__display__upload">
        <app-file-upload
          displayText="Upload the card's image!"
          path="images/cards"
          formControlName="imgUrl"
          [control]="form.controls.imgUrl"
          [imgUrl]="form.controls.imgUrl.value"
        ></app-file-upload>
      </div>

      <div
        *ngIf="!!cardType"
        @fadeInOut
        class="admin-form__display__card card-front size-big"
        [ngClass]="{
          'show-name': !showFinalLook
        }"
      >

        <div class="card-front__info-con">

          <div class="card-front__info">
            <div class="card-front__info__left">
              <div
                *ngIf="shouldHaveStrengthAndEnergy"
                @fadeInOut
                class="card-front__strength"
              >
                <div class="card-front__strength__bg"></div>
                <input
                  type="number"
                  max="99"
                  min="0"
                  class="card-property-input"
                  placeholder="-"
                  [formControl]="form.controls.strength"
                />
              </div>
            </div>
            <div 
              class="card-front__info__right"
              [ngClass]="{
                'to-top': !isCompanion
              }"
            >
              <div
                *ngIf="shouldHaveCost"
                @fadeInOut
                class="card-front__cost"
              >
                <input
                  type="number"
                  max="99"
                  min="1"
                  class="card-property-input"
                  placeholder="-"
                  [formControl]="form.controls.cost"
                />
              </div>

              <div class="admin-card-effect-wrapper">
                <div
                  *ngIf="canAddMoreEffects"
                  @fadeInOut
                  (click)="openNewCardEffectForm()"
                  class="card-front__effect"
                >
                  <div class="card-front__effect__inner">
                    <img class="card-front__effect__img" src="assets/img/icons/plus-black.svg" alt="Add effect">
                  </div>
                </div>
                <app-admin-edit-effect
                  [editMode]="false"
                  [formGroup]="newCardEffectForm"
                  [open]="newCardEffectFormOpen"
                  (closed)="saveNewCardEffect()"
                  (cancelled)="closeNewCardEffectForm()"
                ></app-admin-edit-effect>
              </div>

              <ng-container *ngIf="shouldHaveEffects">
                <app-admin-card-effect-wrapper
                  *ngFor="let effectFormGroup of cardEffectGroups"
                  @fadeInOut
                  [canDelete]="!(isCharmOrTrick && cardEffectGroups.length === 1)"
                  [formGroup]="effectFormGroup.formGroup"
                  [open]="effectFormGroup.open"
                  (closedEdit)="closeEffectFormGroup(effectFormGroup)"
                  (deleted)="deleteEffectFormGroup(effectFormGroup)"
                  (openedEdit)="openEffectFormGroup(effectFormGroup)"
                >

                  <app-card-effect
                    *ngIf="isCharm"
                    [effect]="effectFormGroup.effect"
                    [cardType]="cardType"
                  ></app-card-effect>

                  <app-card-effect
                    *ngIf="isTrick"
                    [effect]="effectFormGroup.effect"
                    [cardType]="cardType"
                  ></app-card-effect>

                  <app-card-effect
                    *ngIf="!isCharmOrTrick"
                    [effect]="effectFormGroup.effect"
                  ></app-card-effect>

                </app-admin-card-effect-wrapper>
              </ng-container>

              <app-card-effect
                *ngIf="isFood"
                [effect]="foodDefaultEffect"
                [cardType]="cardType"
              ></app-card-effect>

              <div
                *ngIf="shouldHaveStrengthAndEnergy"
                @fadeInOut
                class="card-front__energy"
              >
                <input
                  type="number"
                  max="99"
                  min="1"
                  class="card-property-input"
                  placeholder="-"
                  [formControl]="form.controls.energy"
                />
              </div>
            </div>
          </div>
        
          <div class="card-front__name">
            {{ cardName }}
          </div>
        </div>

      </div>

    </div>

    <div class="admin-form__main">

      <h1 class="medium-text color-main">{{ editMode ? 'Edit card' : 'Add a new card' }}</h1>

      <div
        #controls
        class="admin-form__main__controls"
        [ngClass]="{
          'overflowing': areControlsOverflowing
        }"
      >

        <app-admin-control-wrapper
          label="Card's name"
          validationMessage="Please provide the card's name."
          [control]="form.controls.name"
        >
          <app-simple-control
            type="text"
            formControlName="name"
            [control]="form.controls.name"
          ></app-simple-control>
        </app-admin-control-wrapper>

        <app-admin-control-wrapper
          label="Description"
          validationMessage="Please provide the card's description."
          [control]="form.controls.description"
        >
          <app-simple-control
            type="textarea"
            formControlName="description"
            [control]="form.controls.description"
          ></app-simple-control>
        </app-admin-control-wrapper>

        <app-admin-control-wrapper
          label="Card type"
          validationMessage="Please choose a type."
          [control]="form.controls.type"
        >
          <app-select-control
            formControlName="type"
            [control]="form.controls.type"
            [options]="cardTypeOptions"
          ></app-select-control>
        </app-admin-control-wrapper>

        <app-admin-control-wrapper
          label="Set"
          validationMessage="Please choose a set."
          [control]="form.controls.setId"
        >
          <app-select-control
            formControlName="setId"
            [control]="form.controls.setId"
            [options]="setOptions"
          ></app-select-control>
        </app-admin-control-wrapper>

        <app-admin-control-wrapper
          label="Available in game"
          [control]="form.controls.availableInGame"
        >
          <app-toggle-control
            formControlName="availableInGame"
            [control]="form.controls.availableInGame"
          ></app-toggle-control>
        </app-admin-control-wrapper>

        <!-- <app-admin-control-wrapper
          label="Show final look"
          [control]="form.controls.setId"
        >
          <app-toggle-control
            formControlName="showFinalLook"
            [control]="form.controls.showFinalLook"
          ></app-toggle-control>
        </app-admin-control-wrapper> -->

      </div>

      <div
        *ngIf="validationMsgs.length"
        @fadeInOut
        class="admin-form__main__validation"
      >
        <div class="admin-form__main__validation__inner">
          <div
            *ngFor="let msg of validationMsgs"
            @fadeInOut
          >
            &bull; {{ msg }}
          </div>
        </div>
      </div>

      <div class="admin-form__main__actions">
        <button type="button" class="admin-button black" (click)="onOpenCancelPopup()">
          Cancel
        </button>
        <button *ngIf="this.editMode" type="button" class="admin-button red" (click)="onOpenDeletePopup()">
          Delete
        </button>
        <button type="submit" class="admin-button green">
          Save
        </button>
      </div>
    </div>
  </form>

  <app-accept-popup
    msg="Do you want to delete this card?"
    acceptMsg="Delete"
    acceptBtnClass="red"
    declineBtnClass="black"
    [open]="deletePopupOpen"
    (declined)="closeDeletePopup()"
    (accepted)="deleteCard()"
  ></app-accept-popup>

  <app-accept-popup
    msg="Do you want to abandon your changes?"
    acceptMsg="Yes"
    declineMsg="Stay"
    declineBtnClass="black"
    [open]="cancelPopupOpen"
    (declined)="closeCancelPopup()"
    (accepted)="cancel()"
  ></app-accept-popup>
</div>
