<div class="hub-page hub-home-page">
  <div
    class="hub-home-page__block"
    (click)="openGameStartModal()"
  >
    <img
      src="assets/img/photos/home-play.png"
      alt="Play"
      class="hub-home-page__block__img"
    >
    <div class="hub-home-page__block__desc">
      <h2 class="medium-title">Play</h2>
      <p>Show the strength of your companions!</p>
    </div>
  </div>
  <a
    routerLink="/hub/shop"
    class="hub-home-page__block"
  >
    <img
      src="assets/img/photos/home-shop.png"
      alt="Shop"
      class="hub-home-page__block__img"
    >
    <div class="hub-home-page__block__desc">
      <h2 class="medium-title">Shop</h2>
      <p>Buy yourself something pretty!</p>
    </div>
  </a>
  <a
    routerLink="/hub/profile" 
    class="hub-home-page__block"
  >
    <img
      src="assets/img/photos/home-profile.png"
      alt="Profile"
      class="hub-home-page__block__img"
    >
    <div class="hub-home-page__block__desc">
      <h2 class="medium-title">Profile</h2>
      <p>Show off your beautiful smile!</p>
    </div>
  </a>
  <a
    routerLink="/hub/decks"  
    class="hub-home-page__block"
  >
    <img
      src="assets/img/photos/home-decks.png"
      alt="Decks"
      class="hub-home-page__block__img"
    >
    <div class="hub-home-page__block__desc">
      <h2 class="medium-title">Decks</h2>
      <p>Study your companions and assemble a team!</p>
    </div>
  </a>
</div>