@import "utility/variables";
@import "utility/mixins/mixins-flex";
@import "utility/mixins/mixins-other";
@import "utility/mixins/mixins-spacing";

.hub-deck-wrapper {
  position: relative;

  &__overlay{
    @include cover;
    @include d-flex($center: true, $dir: column);
    @include m-not-last(1.8rem, b);
    background: $white-dimmed-transparent;
    opacity: 0;
    @include transition;
  }

  &:hover{
    & .hub-deck-wrapper{
      &__overlay{
        opacity: 1;
      }
    }
  }
}