<div
  [formGroup]="form"
  class="deck-builder-page"
>
  <div
    *ngIf="setSelectOpen"
    @fadeInOut
    class="deck-builder-choose-set">
    <div class="deck-builder-choose-set__main">
      <div class="deck-builder-choose-set__title medium-text">Choose the set the deck will use:</div>
      <div class="deck-builder-choose-set__controls">
        <app-select-control
          formControlName="setId"
          [control]="form.controls.setId"
          [options]="setOptions"
        ></app-select-control>
        <button
          type="button"
          class="page-button"
          (click)="chooseSetId()"
        >
          Continue
        </button>
      </div>
    </div>
  </div>
  <div
    *ngIf="form"
    @fadeInOut
    class="deck-builder"
  >

    <div class="deck-builder__filters">
      <button
        class="page-button"
        (click)="openSetSelect()"
      >
        Change the deck's set
      </button>
    </div>

    <div class="deck-builder__cards">
      <app-deck-card-wrapper
        *ngFor="let card of cardOptions"
        [amount]="getCardAmount(card)"
        (decreasedAmount)="onDecreaseCardAmount(card)"
        (increasedAmount)="onIncreaseCardAmount(card)"
        (removed)="onRemoveCard(card)"
      >
        <app-card-front
          [card]="card"
          size="small"
        ></app-card-front>
      </app-deck-card-wrapper>
    </div>

    <div
      class="deck-builder__deck"
      [ngClass]="{'expanded': deckExpanded}"
    >

      <div class="deck-builder__deck__controls">
        <div class="deck-builder__deck__controls__left">
          <div
            class="deck-builder__deck__controls__open-details"
            (click)="openDetails()"
          >
            <div
              *ngIf="detailsErrorsCount"
              class="deck-builder__deck__controls__open-details__errors"
            >
              {{ detailsErrorsCount }}
            </div>
            <img src="assets/img/icons/cog-white.svg" alt="Open deck details">
          </div>
          <div class="deck-builder__deck__controls__name">
            <input
              type="text"
              [formControl]="form.controls.name"
              formControlName="name"
              placeholder="Your deck's name..."
            >
          </div>
        </div>

        <div
          class="deck-builder__deck__controls__expand"
          (click)="deckExpanded ? collapseDeck() : expandDeck()"
        >
          {{ deckExpanded ? 'Collapse' : 'Expand'}}
        </div>

        <div class="deck-builder__deck__controls__actions">
          <div
            class="deck-builder__deck__controls__amount medium-text"
            [ngClass]="{'wrong': !hasAcceptableAmountOfCards}"
          >
            {{ addedCards.length }} Card{{ addedCards.length === 1 ? '' : 's' }}
          </div>
          <button type="button" class="admin-button blue" (click)="onOpenCancelPopup()">
            Cancel
          </button>
          <button *ngIf="editMode" type="button" class="admin-button red" (click)="onOpenDeletePopup()">
            Delete
          </button>
          <button
            type="button"
            class="admin-button green"
            (click)="onSubmit()"
          >
            Save
          </button>
        </div>
      </div>

      <div class="deck-builder__deck__cards">
        <app-deck-card-wrapper
          *ngFor="let card of uniqueAddedCards"
          [amount]="getCardAmount(card)"
          (decreasedAmount)="onDecreaseCardAmount(card)"
          (increasedAmount)="onIncreaseCardAmount(card)"
          (removed)="onRemoveCard(card)"
        >
          <app-card-front
            [card]="card"
            size="small"
          ></app-card-front>
        </app-deck-card-wrapper>
      </div>

    </div>

  </div>

  <div
    *ngIf="detailsOpen"
    @fadeInOut
    class="deck-details"
  >
    <div class="deck-details__main">
      <div
        class="deck-details__close"
        (click)="closeDetails()"
      >
        <img src="assets/img/icons/close.svg" alt="Close">
      </div>
      <div class="deck-details__title medium-text">
        Choose a sleeve:
      </div>
      <div class="deck-details__items">
        <div
          *ngFor="let sleeve of sleevesOptions"
          class="deck-details__item"
          [ngClass]="{'selected': sleeve.id === sleeveId}"
          (click)="chooseSleeve(sleeve.id)"
        >
          <img [src]="sleeve.imgUrl" alt="Card thumbnail">
        </div>
      </div>
      <div class="deck-details__title medium-text">
        Choose a thumbnail:
      </div>
      <div class="deck-details__items">
        <div
          *ngFor="let card of uniqueAddedCards"
          class="deck-details__item"
          [ngClass]="{'selected': card.id === thumbnailCardId}"
          (click)="chooseThumbnail(card.id)"
        >
          <img [src]="card.imgUrl" alt="Card thumbnail">
        </div>
        <div
          *ngIf="!uniqueAddedCards.length"
        >
          Add some cards first to be able to choose a thumbnail!
        </div>
      </div>
    </div>
  </div>
</div>

<app-accept-popup
  msg="Do you want to delete this deck?"
  acceptMsg="Delete"
  acceptBtnClass="red"
  declineBtnClass="black"
  [open]="deletePopupOpen"
  (declined)="closeDeletePopup()"
  (accepted)="deleteDeck()"
></app-accept-popup>

<app-accept-popup
  msg="Do you want to abandon your changes?"
  acceptMsg="Yes"
  declineMsg="Stay"
  declineBtnClass="black"
  [open]="cancelPopupOpen"
  (declined)="closeCancelPopup()"
  (accepted)="cancel()"
></app-accept-popup>