@import "utility/variables";
@import "utility/mixins/mixins-flex";
@import "utility/mixins/mixins-other";
@import "utility/mixins/mixins-spacing";

.deck-builder-page{
  position: relative;
  height: 100%;
  padding: 3rem;
}

.deck-builder-choose-set{
  @include abs(0, 0);
  @include square(100%);
  z-index: 100;
  @include d-flex($center: true);
  background-color: $white-dimmed;

  &__main{
    background-color: $white;
    padding: 3rem;
  }

  &__controls{
    @include d-flex($ai: center);
    margin-top: 1.8rem;

    & app-select-control{
      flex-grow: 1;
      margin-right: 1.8rem;
    }
  }
}

.deck-builder{
  height: 100%;

  &__filters{
    margin-bottom: 3rem;
  }

  &__cards, &__deck__cards{
    @include d-flex($wrap: wrap);
    padding-left: 2rem;
    padding-top: .4rem;
    margin-left: -2rem;
    width: calc(100% + 2rem);
    @include scrollbar($color: $main, $bg: $grey-300, $w: .6rem, $rounded: false);
    padding-bottom: .6rem;

    & > * {
      margin-right: 3rem;
      margin-bottom: 3rem;
    }
  }

  &__cards{
    height: calc(100% - 18vh - 7.8rem);
    overflow: auto;
  }

  &__deck{
    @include abs($l: 0, $b: 0);
    @include rect(100%, 18vh);
    z-index: 30;
    background-color: $black;
    @include transition;

    &__inner{
      padding: 2.6rem 3rem;
      overflow: hidden;
      height: 100%;
    }

    &.expanded{
      height: 70vh;

      & .deck-builder__deck__cards{  
        overflow: auto;
      }
    }

    &__controls{
      @include d-flex($jc: space-between);
      margin-bottom: 1.8rem;

      &__left{
        @include d-flex($ai: center);
      }

      &__open-details{
        margin-right: 1.6rem;
        cursor: pointer;
        position: relative;

        & > img{
          @include square(3rem);
        }

        &__errors{
          @include abs($r: -.4rem, $t: -.4rem);
          @include circle(1.8rem);
          padding-top: .2rem;
          font-size: 1.2rem;
          color: $white;
          background-color: $red;
        }
      }

      &__name{
        & input{
          font-size: 3.6rem;
          color: $white;
        }
      }

      &__expand{
        @include abs-center-x();
        top: .4rem;
        color: $white;
        cursor: pointer;
      }

      &__amount{
        @include d-flex($ai: center);
        margin-right: 2.4rem;
        
        &__info{
          color: $white;
          margin-right: 1.2rem;

          &.wrong{
            color: $red;
          }
        }

        &__hint{
          position: relative;

          &:hover{
            & .deck-builder__deck__controls__amount__hint__info{
              opacity: 1;
              visibility: visible;
            }
          }

          &__button{
            @include circle(3rem);
            background-color: $white;
            cursor: pointer;
            padding-top: .3rem;
          }

          &__info{
            @include abs-center-x;
            top: calc(100% + .6rem);
            background-color: $white;
            padding: .4rem .6rem;
            border-radius: .3rem;
            opacity: 0;
            visibility: hidden;
            z-index: 20;
            @include transition;
            font-size: 1.4rem;
            width: 20rem;
          }
        }
      }

      &__actions{
        @include d-flex($ai: center);

        & button{
          &:not(:last-of-type){
            margin-right: 1.2rem;
          }
        }
      }
    }

    &__validation{
      @include abs($r: 3rem, $b: calc(100% - .6rem));
      background-color: $red;
      color: $white;
      border-radius: .3rem;
      padding: .3rem;
      width: 30rem;
      
      &__inner{
        max-height: 14rem;
        padding: .4rem 1rem;
        overflow-y: auto;
        overflow-x: visible;
        @include scrollbar($color: $white, $bg: $red, $w: .6rem, $rounded: true);
      }
    }

    &__cards{
      height: calc(100% - 6.6rem);
    }
  }
}

.deck-details{
  @include abs(0, 0);
  @include square(100%);
  @include d-flex($center: true);
  z-index: 50;
  background: $white-dimmed-transparent-stronger;

  &__main{
    background: $white;
    position: relative;
    padding: 2.4rem;
    width: 86rem;
    max-width: calc(100% - 3rem);
  }

  &__close{
    @include abs($r: 1.2rem, $t: 1.2rem);
    cursor: pointer;

    & img{
      @include square(1.8rem);
    }
  }

  &__title{
    margin-bottom: 1.4rem;
  }

  &__items{
    @include d-flex();
    @include m-not-last(1.8rem, r);
    @include scrollbar($color: $main, $bg: $grey-300, $w: .6rem, $rounded: false);
    width: calc(100% + 2rem);
    padding: 1rem;
    margin: 0 -1rem 1.8rem;
    overflow: auto;

    &::-webkit-scrollbar{
      height: .6rem;
    }
  }

  &__item{
    @include rect(12rem, 18rem);
    min-width: 12rem;
    position: relative;
    cursor: pointer;

    &::after{
      @include abs(-.7rem, -.7rem, -.7rem, -.7rem);
      content: '';
      display: block;
      border: 2px solid $main;
      border-radius: .3rem;
      opacity: 0;
      visibility: hidden;
      @include transition;
    }

    &.selected{
      &::after{
        opacity: 1;
        visibility: visible;
      }
    }

    & > img{
      @include img-cover;
      border-radius: .3rem;
    }
  }
}