@import "utility/variables";
@import "utility/mixins/mixins-other";
@import "utility/mixins/mixins-flex";

.file-upload{
  @include square(100%);
  position: relative;
  padding: 1.5rem;

  &, &__content{
    @include d-flex($dir: column, $center: true);
  }

  & input{
    display: none;
  }

  &__img{
    @include abs(0, 0);
    @include img-cover;
    z-index: 0;
  }

  &__content{
    text-align: center;
    position: relative;
    z-index: 1;
  }

  &__title{
    margin-bottom: 1.8rem;
  }

  &__progress{
    @include abs($l: 0, $b: 0);
    @include rect(100%, .6rem);
    z-index: 2;

    &__bar{
      @include transition;
      @include rect(0%, 100%);
      background: $main;
    }
  }
}