<div class="admin-sidebar">
  <div class="admin-sidebar__main">
    <a routerLink="/hub" class="icon-link color-main">
      <img src="assets/img/icons/arrow-left-green.svg" alt="Go back">
      <span>Go to hub</span>
    </a>
    <a routerLink="/" class="icon-link color-main">
      <img src="assets/img/icons/arrow-left-green.svg" alt="Go back">
      <span>Go to home page</span>
    </a>
  </div>
  <div class="admin-sidebar__links">
    <a routerLink="/admin/cards" routerLinkActive="active">Cards</a>
    <a routerLink="/admin/sets" routerLinkActive="active">Sets</a>
    <a routerLink="/admin/packs" routerLinkActive="active">Packs</a>
    <a routerLink="/admin/avatars" routerLinkActive="active">Avatars</a>
    <a routerLink="/admin/sleeves" routerLinkActive="active">Sleeves</a>
    <a routerLink="/admin/players" routerLinkActive="active">Players</a>
    <a routerLink="/admin/decks" routerLinkActive="active">Decks</a>
    <a routerLink="/admin/ai-opponents" routerLinkActive="active">AI Opponents</a>
  </div>
</div>