<div
  *ngIf="cards.length"
  @fadeInOut
  class="player-hand folded-cards"
  [class.opponent]="opponent"
  appFoldedCards
>
  <ng-container *ngIf="!opponent">
    <app-card
      *ngFor="let card of cards"
      appDraggableCard
      (played)="playCard(card)"
      [class.playable]="card.playable"
      [card]="card"
      [sleeveImgUrl]="sleeveImgUrl"
      size="big"
    ></app-card>
  </ng-container>
  <ng-container *ngIf="opponent">
    <app-card
      *ngFor="let card of cards"
      [card]="card"
      [sleeveImgUrl]="sleeveImgUrl"
      size="big"
    ></app-card>
  </ng-container>
</div>