<div class="admin-edit-page">
  <form  
    [formGroup]="form"
    (ngSubmit)="onSubmit()"
    class="admin-form"
  >
    <div class="admin-form__display">

      <div class="admin-form__display__upload">
        <app-file-upload
          displayText="Upload the set's image!"
          path="images/sets"
          formControlName="imgUrl"
          [control]="form.controls.imgUrl"
          [imgUrl]="form.controls.imgUrl.value"
          (uploaded)="onImgUpload()"
        ></app-file-upload>
      </div>

    </div>
    <div class="admin-form__main">

      <div class="admin-form__main__controls">

        <app-admin-control-wrapper
          label="Set's name"
          validationMessage="Please provide the set's name."
          [control]="form.controls.name"
        >
          <app-simple-control
            type="text"
            formControlName="name"
            [control]="form.controls.name"
          ></app-simple-control>
        </app-admin-control-wrapper>
        
      </div>

      <div class="admin-form__main__actions">
        <button type="button" class="admin-button black" (click)="onOpenCancelPopup()">
          Cancel
        </button>
        <button *ngIf="this.editMode" type="button" class="admin-button red" (click)="onOpenDeletePopup()">
          Delete
        </button>
        <button type="submit" class="admin-button green">
          Save
        </button>
      </div>
      
    </div>
  </form>

  <app-accept-popup
    msg="Do you want to delete this set?"
    acceptMsg="Delete"
    acceptBtnClass="red"
    declineBtnClass="black"
    [open]="deletePopupOpen"
    (declined)="closeDeletePopup()"
    (accepted)="deleteSet()"
  ></app-accept-popup>

  <app-accept-popup
    msg="Do you want to abandon your changes?"
    acceptMsg="Yes"
    declineMsg="Stay"
    declineBtnClass="black"
    [open]="cancelPopupOpen"
    (declined)="closeCancelPopup()"
    (accepted)="cancel()"
  ></app-accept-popup>
</div>
