.game-page{
  @include rect(100%, 100vh);
  position: relative;
  overflow: hidden;
  user-select: none;
}

.game-loading{
  @include fix(0, 0);
  @include square(100%);
  z-index: 99999;
  @include d-flex($center: true);
  background-color: $main;
  color: $white;

  &__info{
    @include d-flex($dir: column, $center: true);

    &__bar{
      @include rect(100%, 4rem);
      border-radius: 2rem;
      border: .3rem solid $white;
      padding: .3rem;
      margin-top: 6rem;

      &__fill{
        width: 0%;
        max-width: 100%;
        height: 100%;
        background-color: $white;
        border-radius: 2rem;
        @include transition;
      }
    }
  }
}

.game-page-main{
  @include square(100%);
  position: relative;
}

.game-settings-opener{
  @include fix($r: 0, $t: 0);
  @include square(6rem);
  @include d-flex($center: true);
  padding-left: 1rem;
  padding-bottom: 1rem;
  z-index: 2200;
  cursor: pointer;

  &:hover{
    &::after{
      transform: scale(1.12);
    }
  }

  &::after{
    @include default-after;
    @include assign-position($l: 0, $b: 0);
    @include circle(12rem);
    background-color: $white;
    z-index: 0;
    transition: all .3s;
  }

  & img{
    position: relative;
    z-index: 1;
    @include square(3.2rem);
  }
}

.game-settings{
  @include fix(0, 0);
  @include square(100%);
  z-index: 2000;
}

.game-overlay{
  @include fix(0, 0);
  @include square(100%);
  @include d-flex($center: true);
  z-index: 1000;
  background-color: rgba(0, 0, 0, .6);
  color: $white;

  &__content{
    @include d-flex($dir: column, $ai: center);
    text-align: center;
  }

  &-title{
    margin-bottom: 2.6rem;
  }
}

.game-hand-picker, .game-coin-flip{
  @include d-flex($dir: column, $ai: center);
}

.game-hand-picker{
  &__buttons{
    @include d-flex($ai: center);

    & .game-button{
      width: 30rem;

      &:not(:last-child){
        margin-right: 7rem;
      }
    }
  }

  &__cards{
    margin: 10rem 0 12rem;
  }
}

.game-coin-flip{
  &__main{
    position: relative;
    margin-top: 8rem;

    &__img{
      @include square(40rem);
    }

    &__msgs{
      @include abs($l: calc(100% - 5rem), $t: 4rem);
      @include d-flex($dir: column, $ai: flex-start);
      @include m-not-last(1.8rem, b);

      &__item{
        @include d-flex($center: true);
        @include rect(10rem, 5.4rem);
        border-radius: 1.2rem;
        font-size: 3.6rem;
        line-height: 2.7rem;
        background-color: $white;
        color: $black;

        &:nth-child(4){
          @include rect(30rem, auto);
          text-align: left;
          padding: .8rem 1.8rem;
          font-size: 1.6rem;
        }
      }
    }
  }
}

.game-board{
  @include d-flex($dir: column);
  @include square(100%);
  position: relative;

  &__bg-img{
    @include abs(0, 0);
    @include img-cover;
  }

  &__player-field{
    @include rect(100%, 50%);
    @include d-flex($dir: column, $jc: flex-end);
    position: relative;
    padding: 3rem;

    &.opponent{
      justify-content: flex-start;

      & .game-board__player-area{
        align-items: flex-start;
      }
    }
  }

  &__player-area{
    @include d-flex($jc: space-between, $ai: flex-end);
  }

  &__player-side{
    @include d-flex($dir: column);

    &__cards-area{
      @include d-flex($ai: flex-end);
      @include m-not-last(6rem, r);
    }
  }
}

.game-turn-phases{
  position: relative;
  margin-bottom: 3.2rem;

  &__bar{
    @include abs-center-y;
    @include rect(100%, .6rem);
    background-color: $black;
    z-index: 0;

    &__fill{
      @include rect(0%, 100%);
      background-color: $main;
      @include transition;
    }
  }

  &__phases{
    @include d-flex($ai: center, $jc: space-between);
    position: relative;
    z-index: 0;

    &__item{
      @include circle(3rem);
      background-color: $black;
      @include transition;

      &.active, &.past{
        background-color: $main;
      }

      &.active{
        transform: scale(1.5);
      }

      & img{
        width: 1.8rem;
      }
    }
  }
}

// Cards
.game-page{
  & app-card{
    overflow: hidden;
    transform-origin: bottom center;

    & .full-card{
      @include square(100%);
    }

    & .card-front{
      @include rect($card-game-width, $card-game-height);
      transform-origin: top left;
    }

    & .card-front__name{
      font-size: 2.2rem;
    }
  }

  & .game-deck, .game-sleepyard{
    @include rect(12rem, 18rem);
    position: relative;
  }

  & .game-deck{
    & app-card{
      @include abs();
      @include rect(12rem, 18rem);
      box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.25);

      & .card-front{
        transform: scaleCardTo(12rem);
      }

      & .full-card-inner{
        transform: rotateY(180deg);
      }
    }

    & app-card{
      &:nth-child(1){
        @include assign-position($l: 0, $t: 0);
      }

      &:nth-child(2){
        @include assign-position($l: -.1rem, $t: -.1rem);
      }

      &:nth-child(3){
        @include assign-position($l: -.2rem, $t: -.2rem);
      }

      &:nth-child(4){
        @include assign-position($l: -.3rem, $t: -.3rem);
      }

      &:nth-child(5){
        @include assign-position($l: -.4rem, $t: -.4rem);
      }

      &:nth-child(6){
        @include assign-position($l: -.5rem, $t: -.5rem);
      }

      &:nth-child(7){
        @include assign-position($l: -.6rem, $t: -.6rem);
      }

      &:nth-child(8){
        @include assign-position($l: -.7rem, $t: -.7rem);
      }

      &:nth-child(9){
        @include assign-position($l: -.8rem, $t: -.8rem);
      }
    }
  }

  & .game-sleepyard{
    &__overlay{
      @include d-flex($center: true);
      @include square(100%);
      border: .2rem solid $white;
      border-radius: .3rem;

      & > img{
        width: 6.8rem;
      }
    }

    &__queue{
      @include abs($l: calc(100% - 2rem), $t: -2rem);
      @include rect(4rem, calc(100% + 2rem));
      overflow: hidden;
    }
  }
}

.folded-cards{
  @include d-flex($ai: flex-end, $dir: row-reverse);
  height: 36rem;
  perspective: 1000px;

  &.tight{
    & app-card{
      margin-left: -8rem;
      margin-right: -8rem;
    }
  }

  & app-card{
    @include rect(24rem, 36rem);
    transition: all .3s, z-index 0s;
    position: relative;
    margin-left: -6rem;
    margin-right: -6rem;
    z-index: 0;

    & .card-front{
      transform: scaleCardTo(24rem);
    }

    &:hover{
      z-index: 1;
      transform: scale(1.4) translateY(-1rem) !important;
    }
  }
}

.player-hand{
  transform: translateY(50%) scale(.8);
  transition: all .3s ease;
  position: relative;
  z-index: 500;

  & app-card{
    outline: .5rem solid transparent;

    &.dragging{
      z-index: 1000;
      cursor: grabbing;
      transition: outline .3s ease;
      transform: scale(1.4) !important;
    }

    &.playable{
      outline-color: $main;
      cursor: grab;
    }

    &.will-be-played{
      outline-color: $yellow;
    }
  }

  &.opponent{
    transform: translateY(-60%) scale(.6) rotate(180deg);
    pointer-events: none;

    & .full-card-inner{
      transform: rotateY(180deg);
    }
  }

  &:hover{
    transform: translateY(3rem) scale(1);
  }
}
