.slide-section{
  @include d-flex($dir: column);
  @include rect(100%, 100vh);
  padding: 5rem 6.4rem;

  &.centered{
    align-items: center;
    justify-content: center;
    text-align: center;

    & .display-el{
      &__content{
        align-items: center;
        justify-content: center;
        text-align: center;
      }
    }
  }
}